In [63]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [64]:
# Read the CSV file from the Resources folder into a Pandas DataFrame

lending_df = pd.read_csv("./Resources/lending_data.csv")
# Review the DataFrame
lending_df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [65]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = lending_df["loan_status"]

# Separate the X variable, the features
x = lending_df.drop(columns = "loan_status")

In [66]:
# Review the y variable Series
y.head()

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [67]:
# Review the X variable DataFrame
x.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [68]:
# Check the balance of our target values

y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [69]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(x,y, random_state = 1)

X_train.shape

(58152, 7)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [70]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
LR_model = LogisticRegression(solver = 'lbfgs',
                               max_iter = 200,
                               random_state = 1)

# Fit the model using training data
LR_model.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [71]:
# Make a prediction using the testing data
LR_predictions = LR_model.predict(X_test)

results = pd.DataFrame({"prediction": LR_predictions, "Actual": y_test}).reset_index(drop = True)
results

       prediction  Actual
0               0       0
1               0       0
2               0       0
3               0       0
4               0       0
...           ...     ...
19379           0       0
19380           0       0
19381           0       0
19382           0       0
19383           0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [72]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test, LR_predictions)

0.9520479254722232

In [77]:
# Generate a confusion matrix for the model
cm = confusion_matrix(y_test, LR_predictions)

cm_df = pd.DataFrame(cm, index =["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0        18663          102
Actual 1           56          563

In [74]:
# Print the classification report for the model
target_names = ["Healthy Loan", "High-risk Loan"]
print(classification_report(y_test, LR_predictions, target_names = target_names))

                precision    recall  f1-score   support

  Healthy Loan       1.00      0.99      1.00     18765
High-risk Loan       0.85      0.91      0.88       619

      accuracy                           0.99     19384
     macro avg       0.92      0.95      0.94     19384
  weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The balanced accuracy score is 95% which states that the model performs well with the given data. 

The Logistic regression model predicts `0` (healthy loan) with 100% precision whereas it predicts `1` (high-risk loan) with only 85% precision which shows that the model would predict loan's status as healthy better than the loan's status as high risk. It may be because the given data is highly imbalanced as total number of healthy loans are very high compared to the total number of high risk loans. 

The recall for healthy loan is 99% and recall for high risk loan that is 91%. This shows that 99% of healthy loan predictions made out of all predictions that could have been made are correct and also 91% of high risk loan predictions made out of all predictions that could have been made are correct but less compared to the predictions of healthy loan.

By looking at f1 scores we can say that overall predictions for healthy loan is better compared to high risk loans.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [48]:
# Import the RandomOverSampler module form imbalanced-learn
# install in anaconda prompt --     conda install -c conda-forge imbalanced-learn     
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros = RandomOverSampler(random_state = 1)

# Fit the original training data to the random_oversampler model
X_ros, y_ros = ros.fit_resample(X_train, y_train)

In [49]:
# Count the distinct values of the resampled labels data

y_ros.value_counts()

1    56423
0    56423
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [50]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
X_train, X_test, y_train, y_test = train_test_split(X_ros, y_ros, random_state = 1)

LR_oversampled_model = LogisticRegression(solver= 'lbfgs', max_iter = 200, random_state = 1)

# Fit the model using the resampled training data
LR_oversampled_model.fit(X_train, y_train)

# Make a prediction using the testing data
LR_oversampled_predictions  = LR_oversampled_model.predict(X_test)
pd.DataFrame({"Prediction" : LR_oversampled_predictions, "Actual" : y_test})

        Prediction  Actual
25649            0       0
90622            0       0
74308            0       0
111876           1       1
26805            1       1
...            ...     ...
108166           0       0
43776            0       0
37065            1       1
70149            1       1
89108            0       0

[28212 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [51]:
# Print the balanced_accuracy score of the model 
predicted_acc_score = balanced_accuracy_score(y_test, LR_oversampled_predictions)
predicted_acc_score

0.9938333389947489

In [52]:
# Generate a confusion matrix for the model
cm_oversampled = confusion_matrix(y_test, LR_oversampled_predictions)

cm1_df = pd.DataFrame(cm_oversampled, index =["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm1_df

          Predicted 0  Predicted 1
Actual 0        14039           94
Actual 1           80        13999

In [53]:
# Print the classification report for the model
target_names = ["Healthy Loan", "High-risk Loan"]
print(classification_report(y_test, LR_oversampled_predictions, target_names = target_names))

                precision    recall  f1-score   support

  Healthy Loan       0.99      0.99      0.99     14133
High-risk Loan       0.99      0.99      0.99     14079

      accuracy                           0.99     28212
     macro avg       0.99      0.99      0.99     28212
  weighted avg       0.99      0.99      0.99     28212

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The balanced accuracy score generated for oversampled data is 99% which is better than the balanced accuracy score of model with original training data. For this case, the logistic regression model fit with oversampled data works well in terms of predicting both the `0` (healthy loan) and `1` (high-risk loan) with 99% of accuracy and recall compared to 85% recall using logistic regression model with original data.